.header{
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(200, 200, 200);
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    flex: 1;
    margin-left: 80px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.rigth-section{
    width:250PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: inset 1p 2px 5px rgba(0, 0, 0, 0.015);
    width: 0;
}

.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;

}

.youtube-logo{
    height: 20px;

}
.search-button{
    width: 66px;
    height: 41px;
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: inset 1p 2px 5px rgba(0, 0, 0, 0.015);
    margin-left: -2px;
    margin-right: 10px;

}
.search-button,
.voice-search-button,
.upload-icon-contianer,
.notifications-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-contianer .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    bottom: -30px;
    background-color: grey;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip, 
.upload-icon-contianer:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.voice-search-button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color:rgb(230, 230, 230); 

}
.voice-search-icon,
.search-icon{
    height: 25px;
   
   
}

.search-bar::placeholder{
    font-size: 20px;
}

.upload-icon{
    width: 30px;
    height: 30px;
}
.youtube-apps-icon{
    width: 30px;
    height: 30px;
}
.notifications-icon{
    width: 30px;
    height: 30px;
}
.notifications-icon-container{
    position: relative;
  
}
.notifications-count{
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: rgb(200, 0, 0);
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 15px;
}


.my-channel{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
